[submodule "external/googletest"]
	path = external/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
